.Categories {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.Heading {
    color: white;
}

@media (max-width:676px) {
    .Categories {
        width: 80%;
        margin: auto;
    }
}