.Categories {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.Heading {
    font-size: 22px;
    color: white;
}

@media (max-width:676px) {
    .Categories {
        width: 80%;
        margin: auto;
    }
    .Heading {
        font-size: 32px;
        margin-bottom: 10px;
    }
}