body {
  background-color: salmon;
}

.App {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  overflow: auto;
  box-sizing: border-box;
}

@media (max-width: 787px) {
  .Categories {
      width: 80%;
      margin: auto;
  }
  .App {
    width: 95%;
  }
}
